@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body style="background-color:aqua;">

    <div class="text-center">
        <h1 class="display-4" style="margin-top:200px;  color:darkred; font-size:100px">STUDENT <br /> INFORMATION <br /> MANAGEMENT <br /> SYSTEM</h1>

    </div>
</body>

